<footer class="site-footer">
  <div class="site-footer__inner">
    <div class="footer__brand">
      <span class="footer__logo">undersounds</span>
      <p class="footer__tagline">Música independiente, directa de los artistas.</p>
    </div>

    <div class="footer__column">
      <span class="footer__title">Síguenos</span>
      <a href="https://facebook.com" target="_blank" class="footer-link">Facebook</a>
      <a href="https://twitter.com" target="_blank" class="footer-link">Twitter</a>
      <a href="https://instagram.com" target="_blank" class="footer-link">Instagram</a>
    </div>

    <div class="footer__column">
      <span class="footer__title">Compañía</span>
      <button type="button" (click)="navigateToAbout()" class="footer-link">Acerca de</button>
      <button type="button" (click)="navigateToHelp()" class="footer-link">Ayuda</button>
      <button type="button" (click)="navigateToUseTerms()" class="footer-link">Términos de uso</button>
      <button type="button" (click)="navigateToPrivacyPolicy()" class="footer-link">
        Política de seguridad
      </button>
    </div>
  </div>
</footer>